{% extends "base.html" %}

{% block title %} Listado Licencias  {% endblock %}

{% block search %}
    <form class="d-flex my-2" action="/academia_conduccion/list_licencias/" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block contenido %}

    <div class="mt-5 mx-5 d-flex flex-column align-items-center">
        <h1>Listado Licencias</h1>

        <table class="table mt-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Clasificacion</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Vigencia</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>

                {% for licencia in licencias %}

                    <tr>
                        <th scope="row">{{licencia.id}}</th>
                        <td>{{licencia.clasificacion}}</td>
                        <td>{{licencia.descripcion}}</td>
                        <td>{{licencia.vigencia}}</td>
                        <td>{{licencia.precio}}</td>

                    </tr>

                {% endfor %}              
              
            </tbody>
        </table>

    </div>


{% endblock %}