{% extends "base.html" %}

{% block title %} Listado Vehiculos  {% endblock %}

{% block search %}
    <form class="d-flex my-2" action="/academia_conduccion/list_vehiculos/" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block contenido %}

    <div class="mt-5 mx-5 d-flex flex-column align-items-center">
        <h1>Listado Vehiculos</h1>

        <table class="table mt-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Color</th>
                <th scope="col">Placa</th>
              </tr>
            </thead>
            <tbody>

                {% for vehiculo in vehiculos %}

                    <tr>
                        <th scope="row">{{vehiculo.id}}</th>
                        <td>{{vehiculo.tipo}}</td>
                        <td>{{vehiculo.marca}}</td>
                        <td>{{vehiculo.modelo}}</td>
                        <td>{{vehiculo.color}}</td>
                        <td>{{vehiculo.placa}}</td>

                    </tr>

                {% endfor %}              
              
            </tbody>
        </table>

    </div>


{% endblock %}