{% extends "base.html" %}

{% block title %} Certi Drivers  {% endblock %}

{% block contenido %}
    <section>
        <div style="background-color: blue; height: 5vh;"></div>
        <div class="d-flex justify-content-center mt-5">
            <h2 style="font-weight: bold;">Acerca del Creador</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                  <img src="\media\img\avatar.jpg" alt="avatar" width="400px" height="400px">
                </div>
                <div class="col px-5">
                  <div class="d-flex align-items-center" style="height:400px;">
                    <p style="font-size: larger;  text-align: justify;">Mi nombre es <b>Diego Mazo</b> estudiante del curso Python en CoderHouse.
                         La pagina actual es un proyecto Backend para el manejo de contenidos en este caso una Academia de Conduccion.
                          La aplicacion cuenta con el registro de usuarios para visualizar las secciones y permisos de Administrador para realizar
                           la creacion, registro y modificacion de informacion en las secciones de Aprendices, Instructores y Licencias.</p> 
                  </div>
                </div>
            </div>
        </div>        
        
    </section>


{% endblock %}